<div class="container">
  <h2>Lista de Entregas</h2>

  <!-- Filtros -->
  <div class="mat-elevation-z3">
    <mat-card>
      <mat-card-content>
        <h4>Filtros</h4>
        <div class="content-item">
          <div style="min-width: 400px">
            <mat-form-field appearance="outline">
              <mat-label>Motorista</mat-label>
              <input
                id="filter-driver"
                matInput
                placeholder="Motorista"
                [(ngModel)]="filterDriver"
                (change)="onChangeDriver($event)"
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select
                id="filter-status"
                [(ngModel)]="filterStatus"
                (selectionChange)="onChangeStatus($event)"
                [value]="''"
              >
                <mat-option value="">TODOS</mat-option>
                <mat-option value="ENTREGUE">ENTREGUE</mat-option>
                <mat-option value="PENDENTE">PENDENTE</mat-option>
                <mat-option value="INSUCESSO">INSUCESSO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
          <p>ID</p>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <!-- Documento Column -->
      <ng-container matColumnDef="documento">
        <th mat-header-cell *matHeaderCellDef class="w-50">Documento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.documento }}
        </td>
      </ng-container>

      <!-- Motorista Nome Column -->
      <ng-container matColumnDef="motorista">
        <th mat-header-cell *matHeaderCellDef>
          <p>Motorista</p>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.motorista.nome }}
        </td>
      </ng-container>

      <!-- Cliente_Origim Nome Column -->
      <ng-container matColumnDef="cliente_origem">
        <th mat-header-cell *matHeaderCellDef>
          <p>Cliente (Origem)</p>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.cliente_origem.nome }}
        </td>
      </ng-container>

      <!-- Cliente_Destino Nome Column -->
      <ng-container matColumnDef="cliente_destino">
        <th mat-header-cell *matHeaderCellDef>
          <p>Cliente (Destino)</p>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.cliente_destino.nome }}
        </td>
      </ng-container>

      <!-- Status Nome Column -->
      <ng-container matColumnDef="status_entrega">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <p>Status</p>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <span
            class="chip"
            [ngClass]="{
              'chip-green': element.status_entrega === 'ENTREGUE',
              'chip-yellow': element.status_entrega === 'PENDENTE',
              'chip-red': element.status_entrega === 'INSUCESSO',
            }"
          >
            {{ element.status_entrega }}
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsListDelivery"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsListDelivery"></tr>
    </table>

    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
