.content {
  width: 100%;
  max-width: 1520px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
}

.content-item {
  flex: 1 1 calc(50% - 20px);
}

@media (max-width: 910px) {
  .content {
    flex-direction: column;
  }
}
